<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/2f983008-14e7-4a58-a59a-c7074b1a95e6/resourceGroups/lowrance/providers/Microsoft.Web/sites/lowrance</ResourceId>
    <ResourceGroup>lowrance</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://lowrance.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d2cc634a-87af-4847-914e-2add59d6dcf6</ProjectGuid>
    <PublishUrl>https://lowrance.scm.azurewebsites.net/</PublishUrl>
    <UserName>$lowrance</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>